.drinkContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    margin: 20px;
    background-color: #774e24;
    padding: 15px;
    
}

.drink {
    display: flex;
    justify-content: center;
    
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 black;
    border-radius: 15px;
}